<div class="container" ng-show="currentUser">
  <h4 class="greetingMsg">Hello, {{currentUser}}</h4>
  <a href ng-click="logout()">Logout</a></li>
</div>
<div class="container">
  <div class="input-group" ng-show="currentUser">
     <input type="text" class="form-control" placeholder="post a new meow..." ng-model="newMeow">
     <span class="input-group-btn">
          <button class="btn btn-primary btn-md" type="button" ng-click="submitNewMeow()">Post</button>
     </span>
  </div>
  <ul class="list-group meows-list marginAuto">
    <li class="list-group-item" ng-repeat="meow in meows">
      <small>{{meow.username}}</small>
      <br>
      {{meow.text}}
      <i class="fa fa-times removeIcon" style="position:absolute; right:20px;" ng-click="removeMeow(meow)"></i>
      <br>
    </li>
  </ul>
</div>
