<ul class="nav nav-tabs marginAuto" id="myTab" role="tablist">
<li class="nav-item">
  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Sign In</a>
</li>
<li class="nav-item">
  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sign Up</a>
</li>
</ul>
<div class="tab-content marginAuto" id="myTabContent">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="col-md-10 mx-auto">
    <div class="form-row">
      <div class="col-md-12 mb-2 mb-md-0 marginAuto">
        <input type="text" class="form-control form-control-lg" ng-model='signinusername' placeholder="Username">
        <input type="password" class="form-control form-control-lg" ng-model='signinpassword' placeholder="Password">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 marginAuto">
        <a class="btn btn-block btn-lg btn-primary" style="margin-top:10px;" ng-click="signin()">Sign in!</a>
      </div>
    </div>
  </div>
</div>
<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <div class="col-md-10 mx-auto">
    <div class="form-row">
      <div class="col-md-12 mb-2 mb-md-0 marginAuto">
        <input type="text" class="form-control form-control-lg" ng-model='username' placeholder="Username">
        <input type="password" class="form-control form-control-lg" ng-model='password' placeholder="Password">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 marginAuto">
        <a class="btn btn-block btn-lg btn-primary" style="margin-top:10px;" ng-click="submitSignup()">Sign up!</a>
      </div>
    </div>
  </div>

</div>
</div>
